.DivNav
{
    /*display: flex;*/
    justify-content: space-around;
    align-items: center;
}

.navbarr ul
{
    display: flex;
    justify-content:space-around;
    align-items: center;
    list-style: none;
    /*gap: 57px;*/
}

.navbarr li a
{
    /*padding-inline: 40px;*/
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 142.6%;
    text-decoration: none;
    /* or 34px */

    /*display: flex;
    align-items: flex-end;
    text-align: right;*/

    color: #FF6060;
}

/**Partie tablette**/
@media (max-width: 992px) {
    .navbarr li a
    {
        font-size: 20px;
    }
}

/**Partie mobile**/
@media (max-width: 768px) {
    .navbarr li a
    {
        font-size: 18px;
    }
}