.rectProjects
{
    background: #acaaaab2;
    border-radius: 25px;
    display: flex;
    margin-top: 3em;
    max-height: 30000px;
    min-height: 100px;
    width: 100%;
    box-shadow: 0px 14px 14px 0px #00000017;
}

/**Partie mobile**/
@media (max-width: 768px) {
    .rectProjects
    {
        background: #ffffff;
    }
}