.cont-form form
{
    width: 90%;
}

#contact h5
{
    font-family: Syne;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: center;
    color: #FF6060;
}

#contact p
{
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
}

form input, form textarea
{
    box-shadow: 0px 14px 14px 0px #00000017;
    border: none
}
.messageContact
{
    margin-top: 20px;
    text-align: center;
}

.messageContact p
{
    color: #004e07;
}

.btn-primary:hover
{
    background-color: #004e07;
    border-color: #004e07;
}