.card-pict img
{
    width: 50%;
    animation: rotImg 10s linear infinite;
}

.outil-info
{
    margin-top: -50px;
}

.outil-info h3
{
    text-align: center;
    font-family: 'Syne';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 25px;
    color: #FF6060;
}

.outil-info ul
{
    font-family: 'Syne';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 22px;
}

/*Animation*/

@keyframes rotImg{
    from {
        transform: rotate(0deg);  
    }
    to {
        transform: rotate(360deg);
    }
}